html {
	background-color: #301014;
	color: #EDF4ED;
}

h1 {
	color: #EDF4ED;
	font-size: 5em;
	width: 5em;
	margin-left: auto;
	margin-right: auto;
}


.gameboard {
	display: flex;
	flex-wrap: wrap;
	background-color: #301014;
	width: 25em;
	height: 25em;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1%;
	justify-content: center;
}

.welcome-message {
	margin-top: 9px;
	font-size: 2em;
	text-align: center;
	height: 2.5em;
}

form {
	font-size: 1.5em;
	height: 8em;
}

form input {
	padding: 0px 0px 0px 0px;
	margin: 25px 5px 0px 5px;
	width: 8em;
}

.start-game {
	background-color: #EDF4ED;
	margin-bottom: 30px;
	border-style: none;
	font-size: 2em;
	width: 10em;
	height: 3em;
	border-radius: 2%;
}

.inner-squares {
	background-color: #301014;
	border-style: solid;
	border-color: #EDF4ED;
	border-width: 1px;
	margin: -1px; /* The squares are calculated EXACTLY to fit so if 1px is added
		1px has to be subtracted somewhere else in size */
	font-size: 7em;
	text-align: center;
	border-radius: 3%;
}

.player-one-side { /*will light up on player turn */
	padding-left: 10px;
	font-size: 2.5em;
	color: #00AACC;
	background-color: #301014;
	position: absolute;
	top: 25%;
	width: 150px;
	height: 150px;
	border-radius: 2%;
}

.player-two-side {
	padding-right: 10px;
	text-align: right;
	font-size: 2.5em;
	color: #E80000;
	background-color: #301014;
	position: absolute;
	top: 25%;
	right: 0px;
	width: 150px;
	height: 150px;
	border-radius: 2%;
}

.vs {
	margin-top: 10px;
	text-align: center;
	font-size: 3em;
	color: #EDF4ED;
	background-color: #301014;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
	width: 150px;
	height: 150px;
	border-radius: 2%;
}

.restart {
	border-style: none;
	background-color: #1C3041;
	color: #EDF4ED;
}